
.enroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* filter */
.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 1px 20px;
}

.filter-container select {
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    color: grey;
}

@media (max-width: 600px) {
    .filter-container {
        padding: 5px;
    }
}

/*.filter-row{*/
/*    !*display: flex;*!*/
/*    !*flex-wrap: wrap;*!*/
/*    !*flex-direction: column;*!*/
/*    !*align-items: stretch;*!*/
/*    !*column-count: 2;*!*/
/*    !*column-fill: auto;*!*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    box-sizing: unset;*/
/*    justify-content: space-between;*/
/*    !*width: 55vw;*!*/
/*    background: #fff;*/
/*    border-radius: 5px;*/
/*    !*height: 2em;*!*/
/*    padding: 10px;*/
/*    box-shadow: 0 8px 6px -10px #b3c6ff;*/
/*    margin-top: 2em;*/
/*}*/
/*.filter {*/
/*    flex: 1;*/
/*}*/

/*.wrapper {*/
/*    display: flex;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    justify-content: space-between;*/
/*    background: #fff;*/
/*    border-radius: 5px;*/
/*    padding: 1%;*/
/*    box-shadow: 0 8px 6px -10px #b3c6ff;*/
/*    margin-top: 2em;*/
/*}*/


/*.kids-dropdown,*/
/*.tuts-dropdown,*/
/*.prereq-dropdown {*/
/*    flex: 1; !* Distribute equal width *!*/
/*    min-width:10%; !* Set a minimum width *!*/
/*    height: 2em;*/
/*    border-right: 2px solid #dde2f1;*/
/*    color: #9fa3b1;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    padding: 0 10px; !* Add some padding *!*/
/*    box-sizing: border-box; !* Include padding in width calculation *!*/
/*    text-align: left;*/

/*}*/

/*.kids-dropdown[open],*/
/*.tuts-dropdown[open],*/
/*.prereq-dropdown[open] {*/
/*    z-index: 1;*/
/*}*/

/*.filter_kids .kids-dropdown .kids-radios,*/
/*.filter_tuts .tuts-dropdown .tuts-radios,*/
/*.filter_prereq .prereq-dropdown .prereq-radios {*/
/*    padding: .25rem ;*/
/*    font-size: 14px;*/
/*    cursor: pointer;*/
/*    list-style: none;*/
/*    background-color: #fff;*/
/*    text-align: center;*/


/*}*/

/*.filter_kids .kids-radios input[type=radio],*/
/*.filter_tuts .tuts-radios input[type=radio],*/
/*.filter_prereq .prereq-radios input[type=radio] {*/
/*    counter-increment: kids-radios;*/
/*    appearance: none;*/
/*    display: none;*/
/*    padding: 1rem;*/
/*    font-size: 14px;*/
/*    cursor: pointer;*/
/*    list-style: none;*/
/*}*/

/*.filter_kids .kids-dropdown ul,*/
/*.filter_tuts .tuts-dropdown ul,*/
/*.filter_prereq .prereq-dropdown ul {*/
/*    background: #fff;*/
/*    border-radius: 5px;*/
/*    padding: 20px;*/
/*    display: none;*/
/*    box-shadow: 8px 8px 6px -10px #b3c6ff;*/
/*    position: static;*/
/*    top: 70% ;*/
/*    list-style-type: none;*/
/*}*/

/*.filter_kids .kids-dropdown[open] ul,*/
/*.filter_tuts .tuts-dropdown[open] ul,*/
/*.filter_prereq .prereq-dropdown[open] ul {*/
/*    display: block;*/
/*}*/

/*.filter_kids .kids-dropdown ul li,*/
/*.filter_tuts .tuts-dropdown ul li,*/
/*.filter_prereq .prereq-dropdown ul li {*/
/*    padding-bottom: 20px;*/
/*}*/

/*.filter_kids .kids-dropdown ul li:last-child,*/
/*.filter_tuts .tuts-dropdown ul li:last-child,*/
/*.filter_prereq .prereq-dropdown ul li:last-child {*/
/*    padding-bottom: 0;*/
/*}*/

/*.filter_kids .kids-dropdown ul li:hover,*/
/*.filter_tuts .tuts-dropdown ul li:hover,*/
/*.filter_prereq .prereq-dropdown ul li:hover {*/
/*    color: #6f768d;*/
/*}*/

/*.filter_kids .kids-dropdown::before,*/
/*.filter_tuts .tuts-dropdown::before,*/
/*.filter_prereq .prereq-dropdown::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 18px;*/
/*    right: 20px;*/
/*    border: 8px solid;*/
/*    border-color: transparent transparent transparent transparent;*/
/*}*/

/*summary::-webkit-details-marker {*/
/*    display: none;*/
/*}*/

/*summary:after {*/
/*    content: '';*/
/*    display: inline-block;*/
/*    float: right;*/
/*    width: .5rem;*/
/*    height: .5rem;*/
/*    border-bottom: 1px solid currentColor;*/
/*    border-left: 1px solid currentColor;*/
/*    border-bottom-left-radius: 2px;*/
/*    transform: rotate(45deg) translate(50%, 0%);*/
/*    transform-origin: center center;*/
/*    transition: transform ease-in-out 100ms;*/
/*}*/

/*summary:focus {*/
/*    outline: none;*/
/*}*/

/*details[open] summary:after {*/
/*    transform: rotate(-45deg) translate(0%, 0%);*/
/*}*/

/*summary.kids-radios,*/
/*summary.tuts-radios,*/
/*summary.prereq-radios {*/
/*    counter-reset: kids-radios;*/
/*}*/


/*.filter_kids .kids-radios input[type=radio]:checked,*/
/*.filter_tuts .tuts-radios input[type=radio]:checked,*/
/*.filter_prereq .prereq-radios input[type=radio]:checked {*/
/*    display: inline;*/
/*    --display: block;*/
/*}*/

/*.filter_kids .kids-radios input[type=radio]:after,*/
/*.filter_tuts .tuts-radios input[type=radio]:after,*/
/*.filter_prereq .prereq-radios input[type=radio]:after {*/
/*    content: attr(title);*/
/*    display: inline;*/
/*    font-size: 1rem;*/
/*}*/

/*ul.list {*/
/*    counter-reset: labels;*/
/*}*/

/*li:first-child {*/
/*    padding-top: 0;*/

/*}*/


/*li:last-child {*/
/*    padding-bottom: 0;*/
/*    border-bottom: none;*/
/*}*/

/*label {*/
/*    display: flex;*/
/*    cursor: pointer;*/
/*    justify-content: space-between;*/
/*}*/

/*label span {*/
/*    --display: none;*/
/*    display: var(--display);*/
/*    width: 1rem;*/
/*    height: 1rem;*/
/*    border: 1px solid #727272;*/
/*    border-radius: 3px;*/
/*}*/

/*course cards*/



.CoursesContainer{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5em;

}

.course{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 3px 4px 2px #c5e0e1;
    height: 22em ;
    /*min-height: 13em;*/
    width:15em;
    overflow: hidden;
    margin:2em;
    transition: 0.6s ease;

}

.course:hover{
    transform: scale(1.075);
}

.courseImage img{
    width: 100%;
    padding-bottom: .5em;

}

.course:hover .courseImage{
    opacity: 0.88;
}

.courseAlreadyDisplayed .courseDetailsWhenHover{
    padding: 4em;
}

.courseAlreadyDisplayed{
    text-transform: uppercase;
    text-align: center;
    margin-top: .5em;

    margin-bottom: 2em;


}



.course:hover{
    height: 34em;
}


.courseDetailsWhenHover{
    padding:0 0.8em;
}

/*
 .courseAlreadyDisplayed:hover + .courseDetailsWhenHover{
   display: block;

 }*/


.courseDetailsWhenHover ul{
    list-style-position: outside;
    padding-left: 1.5em;
}






/*style the rating*/
.checked {
    color: orange;
}

 .action {
    margin-bottom: 1.5em;
    display:flex;
    justify-content: center;


}

 .action input{
    background: transparent;
    border-radius: 10px;
    border: 8px solid rgb(255, 219, 154);
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;

}
.action input{
    background-color: rgb(255, 219, 154);
    color: rgb(68, 49, 15);
    transition: box-shadow 0.3s ease-in-out;
    justify-items: center;
    display: flex;
}
