
main {
  display:flex;
  
  width: 100%;
align-items: center;
}

.parent{
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #f7774c;
  font-family: 'Courier New', Courier, monospace;
  padding-top:10%;
  font-weight: bold;
  margin-bottom:30px ;
  margin-top:20px;
  background-image: 
  linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(209, 209, 209, 0.274)),
  url('images/parents.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border-style:groove;
  
}





.kidscontainer {
    
  display: flex;
  align-items:center;
  overflow-x: auto;
  justify-content: center;
  width: 95%;
  border-radius: 10px;
  border-style:hidden;
  background-color: #f9f9f9;
  flex-wrap: wrap;
  

}


.kidinfo {
  flex: 0 0 30vh;
  background-color: #dff3f4;
  margin: 5%;
  text-align: center;
  padding : 2% ;
  border-radius: 10px;
  box-shadow: 3px 4px 1px #c5e0e1;
  transition: 0.6s ease;
}

.kidinfo:hover{
  transform: scale(1.1);

}


.kidinfo img {
  width: 16vh;
  height: 15vh;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #98d3d6;
  opacity: 0.8;
}


.buttons a{
  display: flex;
  align-items:center;
  overflow-x: auto;
  justify-content: center;
  width: 95%;
  margin: 4em auto;
  border-radius: 10px;
  border-style:hidden;
  background-color: #f9f9f9;
}

.cardbutton {
  align-items: center;
  align-self: center;
  width: 60%;
  height: 20em ;
  display: flex;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s, filter 0.3s;

  justify-content: space-around;

  
}

.enroll {
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.52), rgba(209, 209, 209, 0.274)),
  url('images/courseEnrollment.jpeg');
}

.eval {
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.138), rgba(209, 209, 209, 0.086)),
  url('images/eval.png');
  

}

.cardbutton:hover {
  transform: translateY(-10px);
  filter: brightness(85%);
}

.cardbutton h5 {
  color: white;
  text-align: center;
  text-shadow: 0  0 5px #999;
  font-size: xx-large;
}

.cardbutton:active{
  transform: scale(0.98);
  box-shadow: 1px 1px 8px 1px rgb(219, 219, 206);
}

#mykids {
  color: #f7774c;
  text-align: inherit;
  padding-left: 12%;
  padding-top: 5%;
}