@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*to make child */
    font-family: 'Poppins', sans-serif; /*The font chosen for the whole page*/
}


/* theme */
:root{

  --primary-color:#c5e0e1;
  --secondary-color:black;
  --third-color: rgb(248, 247, 247);
}
/*
.dark-theme{
  --primary-color:#edd9a8;
  --secondary-color:rgb(220, 123, 32);
  --third-color: rgb(212, 206, 206);

}
*/

.visually-hidden{

  clip:rect(0 0 0 0);
  clip-path:inset(50%);
  height:1px;
  overflow: hidden;
  position:absolute;
  white-space:nowrap;
  width: 1px;
}



.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  background-color: rgb(233, 233, 233);
  padding:1rem 3rem;
  margin-inline: auto;
  border-radius: 0 0 1rem 1rem;

}


.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline:3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;

}


.color-picker input[type="radio"]:checked{
  background-color:var(--radio-color) ;
}

.color-picker input[type="radio"]#light{
--radio-color:#a0d4d6;
}


.color-picker input[type="radio"]#dark{
  --radio-color:#edb779;
  }

.light,
:root:has(#light:checked){
  --primary-color:#9fd7d9;
  --secondary-color:black;
  --third-color: #e2f0f0;
  /*#c5e0e1*/
}

.dark,
:root:has(#dark:checked){
  --primary-color:#fdd893;
  --secondary-color:rgb(220, 123, 32);
  --third-color: #eee4cb;

}















/* end theme*/


body{
    background-color:var(--third-color); /*the background color of the page*/
    min-height: 100vh;
    display: flex;
    color:var(--secondary-color);
    flex-direction: column;
    text-decoration: none;
    font-weight: 500;
}

header{
  display: flex;
  justify-content:space-around ;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: sticky;
  color:var(--secondary-color);

}

.navbar a {
  text-decoration: none; /* Add this line to remove the underline */
}

img {
  max-width: 100%;
  height: auto;
}

main{
  display: flex;
  flex-direction: column;
}

.navbar li{
  position: relative; /* Add this line */
}


  a {
  text-decoration: none;
  }

  
.navbar ul {
  font-weight: 900;
  font-size: 1.3em;
  list-style: none;
  display: flex;
  /* justify-content: space-between; Align the navbar links to the right */
}

.navbar a:hover{
  color: rgb(240, 144, 0);
}

.navbar a{
  color: rgb(43, 43, 43);
  padding-left: 1.5em;
}

/*action happens after click on list element*/
.navbar li a:after{
  content: "";
  position: absolute;
  background-color: rgba(255, 136, 0, 0.459);
  height: .3rem;
  width: 0%;
  right: 0;
  bottom: 0;
  transition: 0.5s;
}

.navbar li a:hover:after{
  width:73%; /*length of the line appear*/
}


header ,footer{
  background-color:var(--primary-color);
}

.container {
  display: flex;
  justify-content: space-between;
}

footer{
  margin-top: auto;
}

.footcontainer {
  display: flex;
  justify-content: space-between;
}

.col1,
.col2,
.col3 {
  flex-basis: 30%;
  margin: 20px 10px;
  
}

/* Additional styling for each column */
.col1 h3,
.col2 h3,
.col3 h3 {
  color: rgb(31, 31, 31);
  font-size: 1.2em;
}

.col1 p,
.col2 ul,
.col3 p {
  font-size: 1em;

}
.col2 li {
  list-style: none;
}

.col2 .phone-number {
  color: rgb(0, 0, 0); /* Change the color as desired */
}

.col2 .email-address {
  color: rgb(0, 0, 0); /* Change the color as desired */
}

/* Style the list */
ul.breadcrumb {
  padding: 15px 15px;
  list-style: none;
  /*background-color: rgb(248, 247, 247);*/
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}
@media (max-width: 743px) {
  .navbar {
    padding-right: 1.5em;
  }
}

@media (max-width: 696px) {
  .col1 h3, .col2 h3, .col3 h3 {
    font-size: 1em;
    }
  
    .col1 p, .col2 ul li, .col2 span, .col3 p {
    font-size: .9em;
    }
}
@media (max-width: 618px) {

  .navbar ul li:first-child a {
  display: inline-block;
  text-align: center;
  }
}

@media (max-width: 560px) {
  .col2 img {
    width: 13px; 
  }
}


@media (max-width: 530px) {

  .navbar li a {
    font-size: .9em;
  }

  .col1 h3, .col2 h3, .col3 h3 {
    font-size: .8em;
  }
  
  .col1 p, .col2 span, .col3 p {
    font-size: .7em;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    display: none;
  }

  .navbar.active {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .navbar.active li {
    margin: 10px 0;
  }

  .menu-button {
    display: block;
  }
}
@media screen and (max-width: 470px) {
  .navbar li a {
    font-size: .8em;
  }
  .col1 h3, .col2 h3, .col3 h3 {
    font-size: .8em;
  }
    
  .col1 p, .col2 span, .col3 p {
    font-size: .6em;
  }

  .col2 img {
    width: .7rem; 
  }

  .navbar li a{
justify-content: space-between;
padding-left: 1.3rem;
  }
}


@media screen and (max-width:380px) {
  .navbar li a {
    font-size: .6em;
  }

  .col1 h3, .col2 h3, .col3 h3 {
    font-size: .6em;
  }
    
  .col1 p, .col2 span, .col3 p {
    font-size: .4em;
  }

  .col2 img {
    width: .5rem; 
  }
      
}


@media screen and (max-width: 280px) {
  .logo img {
    width: 7rem;
    height: auto;
  }
}